{# templates/api/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>API</h1>

    <table>
        <body>

        </body>
    </table>

    <template>
        <tr>
            <td id=""></td>
            <td id=""></td>
            <td id=""></td>
        </tr>
    </template>
{% endblock %}
