<table class="table mt-4">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th></th>
        <th scope="col">Nombre</th>
        <th></th>
        <th scope="col">Latitud</th>
        <th></th>
        <th scope="col">Longitud</th>
        <th></th>
        <th scope="col"></th> {#Actions#}
        <th></th>
    </tr>
    </thead>
    <tbody id="js-table-municipality-body">
    <tr>
        <td colspan="10" class="pt-5 border-0 text-center text-primary">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </td>
    </tr>
    </tbody>
</table>