<div class="position-fixed bottom-0 end-0 me-3 mb-3">
    <div class="row">
        <a href="#header" class="col-6 p-3">
            <i class="fa-solid fa-arrow-up fa-xl text-primary"></i>
        </a>
        <a href="#footer" class="col-6 p-3">
            <i class="fa-solid fa-arrow-down fa-xl text-primary"></i>
        </a>
    </div>
</div>